<ion-content>
	<div class="card">
		<div class="header"></div>

		<div class="body">      
			<ion-toolbar>
				<ion-item>
					<ion-label color="medium" position="floating">Nome Completo</ion-label>
					<ion-input></ion-input>
        		</ion-item>
        
				<ion-item >
					<ion-label color="medium" position="floating">@Nick</ion-label>
					<ion-input required="true"></ion-input>
        		</ion-item>
        
				<ion-item>
					<ion-label color="medium" position="floating">E-mail</ion-label>
					<ion-input type="email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label color="medium" position="floating">Senha</ion-label>
					<ion-input type="password"></ion-input>
				</ion-item>
			</ion-toolbar>

			<ion-button class="btn" color="primary" fill="outline" expand="block">Cadastrar</ion-button>
			<ion-button class="btn" color="danger" fill="clear" expand="block" href="/cadastro">Cancelar</ion-button>
		</div>
	</div>
</ion-content>
