<ion-card>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="dark"><h3>{{Name}}</h3></ion-text>
  </ion-label>
    <ion-icon size="small" color="dark" name="trash-outline" (click)="remover()" ></ion-icon>
  </ion-item>  
    
  <ion-card-content class="contadores">
    <ion-icon size="large" color="danger" name="remove-circle" (click)="decrement()" class="btn_menos"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark"><h2>{{Score}}</h2></ion-text>
      </ion-label>
      <ion-icon size="large" color="success" name="add-circle" (click)="increment()" class="btn_mais"></ion-icon>
  </ion-card-content>
</ion-card>






C:\Users\Gabriel Fontana>npm --version
8.1.3

C:\Users\Gabriel Fontana>node --version
v14.17.6

C:\Users\Gabriel Fontana>ionic --version
6.18.0
  


professor, meu tbm deu problema e as versões estão um pouco diferentes do Gabriel
C:\Users\tauane.bertoglio\PlayingScore>npm --version
6.14.14

C:\Users\tauane.bertoglio\PlayingScore>node --version
v14.17.5

C:\Users\tauane.bertoglio\PlayingScore>ionic --version
6.17.0